.users {
  margin: 2rem auto;
  width: 30%;
  text-align: center;
  max-width: 40rem;
}

.users ul {
  list-style: none;
  padding: 1rem;
}

.users li {
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
